---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<link rel="stylesheet" href="/_css/publications.css">

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div class='paper-box'><div class='paper-box-image'><div><div class="badge">CVPR 2025</div><img src='images/pt.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[ProxyTransformation : Preshaping Point Cloud Manifold With Proxy Attention For 3D Visual Grounding](https://arxiv.org/abs/2502.19247) \\
**Qihang Peng**, Henry Zheng, Gao Huang

[**Project**](https://speechresearch.github.io/fastspeech/) | [**Code**](https://github.com/pqh22/ProxyTransformation)
- Make full use of multimodal information in ego-centric 3D visual grounding for point enhancement.
- State-of-the-art on [EmbodiedScan](https://tai-wang.github.io/embodiedscan/) benchmark.
</div>
</div>

<div class='paper-box'><div class='paper-box-image'><div><div class="badge">ICLR 2025</div><img src='images/dg.png' alt="sym" width="100%"></div></div>
<div class='paper-box-text' markdown="1">

[DenseGrounding: Improving Dense Language-Vision Semantics for Ego-centric 3D Visual Grounding](https://arxiv.org/abs/2502.19247) \\
Henry Zheng*, Shi Hao*, **Qihang Peng**, et al. 

[**ICLR 2025**](https://iclr.cc/virtual/2025/poster/28704) | [**AGC 2024**](https://opendrivelab.com/challenge2024/#multiview_3d_visual_grounding)
- Use LLM and Ground Truth to enhance semantic details in prompt to reduce the ambiguity during training.
- Extract individual view semantics and enriches visual representation with global scene-level semantic.
</div>
</div>




<!-- New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



